# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
mlflow_venv/

# Jupyter
.ipynb_checkpoints/

# OS-specific files
.DS_Store

# Secrets
.env

# MLflow experiment tracking
mlruns/
mlruns.db
saved_models/